@model IEnumerable<Blog>
@{
    ViewData["Title"] = "Index";
}
<section id="blog">
<div class="container">
    <div class="row">
        @foreach (var blog in Model)
        {
            <div class="col-md-6 col-lg-4">
                <div class="item">
                    <div class="img position-relative">
                        <a asp-controller="blog" asp-action="detail" asp-route-id="@blog.Id">
                            <img src="~/img/@blog.ImgUrl" class="img-fluid" alt="">
                        </a>
                        <div class="date rounded bg-light position-absolute py-1 px-2">
                            <span>@blog.CreatedDate?.ToString("dd.MM.yyyy")</span>
                        </div>
                    </div>
                    <div class="text mt-3 text-center px-5">
                        <a asp-controller="blog" asp-action="detail" asp-route-id="@blog.Id" class="text-dark text-decoration-none">
                            <h5>@blog.Title</h5>
                        </a>
                        <p class="text-black-50">@blog.ShortDesc...</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div
</section>